@import "../../../css/variables.css";

.home {
  padding: 15px;

  @media (--viewport-tablet-up) {
    padding: 50px;
  }
}

.logo {
  max-width: 26rem;

  @media (--viewport-desktop-up) {
    max-width: initial;
  }
}

.logo__header {
  font-size: 3rem;
  font-weight: 100;

  display: inline-block;

  margin-top: 0;

  letter-spacing: -0.1rem;

  @media (--viewport-tablet-up) {
    font-size: 4rem;
    margin-right: 1rem;
  }
}

a.logo__link {
  font-size: 2rem;
  font-weight: 600;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  text-decoration: none;

  color: var(--element-color);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
