@import "../../../css/variables.css";

:root {
  --modal-background-color: #fff;
  --modal-width: 500px;
  --modal-header-font-size: 2rem;
  --quote-width: 16rem;
  --quote-height: 7rem;
  --quote-img-height: 200px;
  --quote-color: #eee;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--modal-z-index);
}

.modal-enter {
  transition: opacity 0.5s ease;

  opacity: 0;

  & .modal__info {
    transition: opacity 0.5s ease;
    transition-delay: 0.5s;

    opacity: 0;
  }
  &.modal-enter-active {
    opacity: 1;

    & .modal__info {
      opacity: 1;
    }
  }
}

.modal-leave {
  transition: opacity 0.5s ease;
  transition-delay: 0.5s;

  opacity: 1;

  & .modal__info {
    transition: opacity 0.5s ease;

    opacity: 1;
  }
  &.modal-leave-active {
    opacity: 0;

    & .modal__info {
      opacity: 0;
    }
  }
}

.modal__overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal__info {

  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  transform: translateY(-50%);

  background-color: var(--modal-background-color);
  justify-content: center;
}

.modal-content {
  width: var(--modal-width);
  padding: 60px 10px;

  @media (--viewport-phone-only) {
    width: 100%;
  }
}

.modal-content__header,
.modal-content__body,
.modal-content__footer {
  padding: 10px 0;
}

.modal-content__header {
  position: relative;

  margin-bottom: 40px;
}

.modal-header {
  display: flex;
  align-items: baseline;
}

.modal-header__header {

  display: inline-block;

  position: relative;
  font-size: var(--modal-header-font-size);
  font-weight: 400;

  margin: 0;

  text-transform: uppercase;

  color: var(--element-color);

}

.modal-header__btn {
  font-size: var(--modal-header-font-size);

  margin-left: auto;

  color: var(--element-color);
  border: none;
  outline: none;
  background: transparent;

  @media (--viewport-phone-only) {
    font-size: calc(var(--modal-header-font-size) * 1.5);
  }

  &:hover {
    color: color(var(--element-color) alpha(70%));
  }
}

.modal-content__body {
  font-size: 1.2rem;
  line-height: 1;

  min-height: 6rem;

  color: var(--light-gray-color);
}

.quote {
  display: flex;
  align-items: center;

  @media (--viewport-phone-only) {
    flex-direction: column;
  }
}

.quote__img {
  height: var(--quote-img-height);

  @media (--viewport-phone-up) {
    margin-right: 40px;
  }

  @media (--viewport-phone-only) {
    height: calc(var(--quote-img-height) * 1.25);
    margin-bottom: 40px;
  }
}

.quote__text {

  display: inline-block;

  position: relative;
  font-weight: 500;

  width: var(--quote-width);
  min-height: var(--quote-height);
  padding: 20px;

  color: var(--gray-color);
  border-radius: 20px;
  background-color: var(--quote-color);

  &:before {

    display: block;
    position: absolute;

    width: 0;
    height: 0;

    content: "";

    border: 30px solid;
    border-color: transparent;

    @media (--viewport-phone-only) {
      top: -55px;
      left: 50%;

      transform: translateX(-50%);

      border-bottom-color: var(--quote-color);
    }
    @media (--viewport-phone-up) {
      top: 50%;
      left: -55px;

      transform: translateY(-50%);

      border-right-color: var(--quote-color);
    }
  }
}
