@import "./variables.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: var(--body-text-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Exo 2";
  font-weight: 100;
  font-style: light;
  src: url(/fonts/Exo_2/Exo2-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Exo_2/Exo2-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 600;
  font-style: bold;
  src: url(/fonts/Exo_2/Exo2-SemiBold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

.page-change-enter {
  position: absolute !important;

  transition: opacity 0.5s ease;

  opacity: 0;

  &-active {
    opacity: 1;
  }
}

.page-change-leave {
  position: absolute !important;

  transition: opacity 0.5s ease;

  opacity: 1;

  &-active {
    opacity: 0;
  }
}

.content {
  position: relative;

  width: 100%;
  margin: auto;

  justify-content: center;
}

.btn {
  font-family: inherit;

  font-size: 1rem;
  font-weight: 400;
  line-height: 50px;

  position: relative;

  display: inline-block;

  width: 180px;

  transition: background-color 0.25s ease;

  text-align: center;

  text-decoration: none;
  text-transform: uppercase;

  color: var(--element-color);

  border: 1px solid var(--element-color);
  outline: 0;
  background: transparent;
  box-shadow: 0 5px 20px color(var(--element-color) alpha(0%));

  &:hover,
  &:focus,
  &--active {
    color: #fff;
    background-color: var(--element-color);
    box-shadow: 0 5px 20px color(var(--element-color) alpha(30%));
  }

  @media (--viewport-phone-only) {
    color: #fff;
    background-color: var(--element-color);
    box-shadow: 0 5px 20px color(var(--element-color) alpha(30%));
  }

  &--small {
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: initial;
    width: auto;
  }
}
