@import "../../../css/variables.css";

:root {
  --scroll-width: 4px;
  --blue-color: #3a77a6;
}

.number {

  &--positive {
    color: var(--element-color);
  }

  &--negative {
    color: var(--blue-color);
  }
}

.carggo {
  padding: 15px;

  @media (--viewport-tablet-up) {
    padding: 50px;
  }
}

.table-enter {
  transition: opacity 2s ease;

  opacity: 0;

  &-active {
    opacity: 1;
  }
}

.carggo-table {
  width: 900px;
  padding: 20px;
  background-color: #e8e8e8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.carggo-table table {
  display: block;
  border-collapse: collapse;

  & caption,
  & thead,
  & tbody,
  & tr,
  & th,
  & td {
    display: block;
  }

  & tr {
    display: flex;
  }

  & caption {
    font-size: 1.4rem;
    text-align: left;
    padding: 1.2rem 0.2rem;
  }

  & tbody {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: var(--scroll-width);
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--element-color);
    }
  }

  & thead th,
  & tbody td {
    width: calc(100% / 6);
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
  }

  & thead tr {
    width: 99%;
    width: calc(100% - var(--scroll-width));
    border-bottom: var(--scroll-width) solid #ce0000;
    margin-bottom: 10px;
    text-align: left;
  }

  & thead th {
    font-size: 1.1rem;
  }

  & tbody td {
    font-size: 0.9rem;
    padding: 0.4rem 0.2rem;

    & a {
      color: var(--blue-color);
    }
  }
}

.carggo-table__header {
  font-family: inherit;
  transition: background-color 0.25s ease;
  color: var(--element-color);
  text-align: left;
  background: transparent;
  box-shadow: 0 5px 20px color(var(--element-color) alpha(0%));

  &:hover,
  &--active {
    background-color: var(--element-color);
    color: #fff;
  }
}

.carggo-table__sort-button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  outline: 0;
  padding: 0.5rem;
  line-height: initial;
  text-align: inherit;
  min-width: 100px;
}

.carggo-table__arrow {
  vertical-align: middle;
  transition: transform 0.5s ease;
  transform-origin: center center;

  &--up {
    transform: rotate(180deg);
  }
}

.arrow-enter {
  transition: opacity 2s ease;

  opacity: 0;

  &-active {
    opacity: 1;
  }
}

.arrow-leave {
  transition: opacity 2s ease;

  opacity: 1;

  &-active {
    opacity: 0;
  }
}
